<div id="message-form" class="message-form">
 <form ng-submit="sendMessage()" class="container">
   <div class="row">
     
      <div class="input-field col s10">
       <input ng-model="messageContent" type="text" placeholder="Escriba su mensaje aquí" >
     </div>
       
     <div class="input-field col s2" style="margin-right: 30px;">
       <div ng-click="takePicture()" id="take-picture">
           <i style="color: #1E88E5;margin-top: -8px;" class="material-icons medium">picture_in_picture</i>
       </div>
     </div>
   </div>
  </form>
    
  <div id="patientinfomadal" class="modal modal-fixed-footer">
    <div class="modal-content">
      
    </div>
  </div>
    
</div>